<a href="https://colab.research.google.com/github/guilherme13022002/vehicle/blob/main/carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
url = "real-world-fuel-efficiency-1.csv"
df = pd.read_csv(url, skiprows = 0, skipfooter = 0, header=0, sep = ',')
df.head()

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,9,4459,221.0,185.79,20.18,-0.16,$ 552.50,$ 0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,7,17162,1771.0,1560.18,9.69,-0.12,"$ 4,427.50",$ 0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,1,413,65.0,31.77,6.35,-0.51,$ 162.50,$ 0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,49,13074,793.0,544.75,16.49,-0.31,"$ 1,982.50",$ 0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,5,29482,1813.0,1637.89,16.26,-0.10,"$ 4,532.50",$ 0.15

<ipython-input-4-d4f16ae4c651>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(url, skiprows = 0, skipfooter = 1, header=0, sep = ';')

        Casa                                      Lema   Status
0      STARK                   O inverno está chegando    Ativa
1  LANNISTER                             Ouça-me rugir    Ativa
2  TARGARYEN                             Fogo e Sangue    Ativa
3  BARATHEON                           Nossa é a fúria  Extinta
4     TYRELL                          Crescendo fortes  Extinta
5      TULLY                     Família, dever, honra    Ativa
6    MARTELL  Insubmissos, não curvados, não quebrados  Extinta
7    GREYJOY                          Nós não semeamos    Ativa
8      ARRYN                     Tão alto como a honra    Ativa