<a href="https://colab.research.google.com/github/guilherme13022002/vehicle/blob/main/veiculo%20atualizado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
url = "real-world-fuel-efficiency-1.csv"
df = pd.read_csv(url, skiprows = 0, skipfooter = 0, header=0, sep = ',')
df.head()

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,9,4459,221.0,185.79,20.18,-0.16,$ 552.50,$ 0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,7,17162,1771.0,1560.18,9.69,-0.12,"$ 4,427.50",$ 0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,1,413,65.0,31.77,6.35,-0.51,$ 162.50,$ 0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,49,13074,793.0,544.75,16.49,-0.31,"$ 1,982.50",$ 0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,5,29482,1813.0,1637.89,16.26,-0.10,"$ 4,532.50",$ 0.15

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
url = "real-world-fuel-efficiency-1.csv"



df=pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                106 non-null    int64
 1   MAKE                                106 non-null    object
 2   MODEL                               106 non-null    object
 3   Hybrid/Non-Hybrid                   106 non-null    object
 4   STANDARD TYPE                       106 non-null    object
 5   EPA RATING (CITY)                   106 non-null    int64
 6   Vehicle Count                       106 non-null    int64
 7   TOTAL ACTUAL MILES                  106 non-null    int64
 8   TOTAL ACTUAL FUEL                   106 non-null    float64
 9   EPA EXPECTED FUEL                   106 non-null    float64
 10  ACTUAL FUEL ECONOMY Geotab          106 non-null    float64
 11  PERCENT % DIFFERENCE ACTUAL TO EPA  106 non-null    float64
 12  ESTIMATED FUEL COSTS PER GALLON     106 non-null    object
 13  FUEL COSTS PER MILE                 106 non-null    object
dtypes: float64(4), int64(4), object(6)
memory usage: 11.7+ KB

In [4]:
df.describe()

,YEAR,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA
count,106.000000,106.000000,106.000000,1.060000e+02,106.000000,106.000000,106.000000,106.000000
mean,2013.698113,23.254717,38.320755,1.742588e+05,8470.372642,6903.022358,19.883491,-0.166321
std,3.165799,11.495806,51.139128,2.837817e+05,9212.284006,7641.761732,12.329095,0.226229
min,2008.000000,9.000000,1.000000,4.130000e+02,65.000000,31.770000,5.350000,-0.670000
25%,2011.000000,15.000000,10.000000,3.217475e+04,1765.750000,1412.797500,10.545000,-0.317500
50%,2014.000000,19.000000,20.500000,8.400450e+04,5365.500000,4511.125000,14.930000,-0.160000
75%,2016.000000,28.000000,45.750000,1.800435e+05,11911.500000,9723.207500,26.090000,-0.040000
max,2019.000000,55.000000,327.000000,2.144639e+06,44874.000000,44679.980000,54.580000,0.730000