In [19]:
import pandas as pd
url = "real-world-fuel-efficiency-1.csv"
df = pd.read_csv(url, skiprows = 0, skipfooter = 0, header=0, sep = ',')
df.head()

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,9,4459,221.0,185.79,20.18,-0.16,$ 552.50,$ 0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,7,17162,1771.0,1560.18,9.69,-0.12,"$ 4,427.50",$ 0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,1,413,65.0,31.77,6.35,-0.51,$ 162.50,$ 0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,49,13074,793.0,544.75,16.49,-0.31,"$ 1,982.50",$ 0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,5,29482,1813.0,1637.89,16.26,-0.10,"$ 4,532.50",$ 0.15

In [20]:
df

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,9,4459,221.0,185.79,20.18,-0.16,$ 552.50,$ 0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,7,17162,1771.0,1560.18,9.69,-0.12,"$ 4,427.50",$ 0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,1,413,65.0,31.77,6.35,-0.51,$ 162.50,$ 0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,49,13074,793.0,544.75,16.49,-0.31,"$ 1,982.50",$ 0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,5,29482,1813.0,1637.89,16.26,-0.10,"$ 4,532.50",$ 0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2019,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,22,10316,885.0,793.54,11.66,-0.10,"$ 2,212.50",$ 0.21
102,2019,FORD,F150,Non-Hybrid,PICKUP,16,27,56410,5419.0,3525.63,10.41,-0.35,"$ 13,547.50",$ 0.24
103,2019,FORD,F250,Non-Hybrid,PICKUP,12,30,84521,5449.0,7043.42,15.51,0.29,"$ 13,622.50",$ 0.16
104,2019,FREIGHTLINER,SPRINTER 3500,Non-Hybrid,VAN,15,38,3277,296.0,218.47,11.07,-0.26,$ 740.00,$ 0.23
105,2019,FORD,TRANSIT VAN,Non-Hybrid,VAN,20,7,29068,2331.0,1453.40,12.47,-0.38,"$ 5,827.50",$ 0.20

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
url = "real-world-fuel-efficiency-1.csv"



df=pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                106 non-null    int64
 1   MAKE                                106 non-null    object
 2   MODEL                               106 non-null    object
 3   Hybrid/Non-Hybrid                   106 non-null    object
 4   STANDARD TYPE                       106 non-null    object
 5   EPA RATING (CITY)                   106 non-null    int64
 6   Vehicle Count                       106 non-null    int64
 7   TOTAL ACTUAL MILES                  106 non-null    int64
 8   TOTAL ACTUAL FUEL                   106 non-null    float64
 9   EPA EXPECTED FUEL                   106 non-null    float64
 10  ACTUAL FUEL ECONOMY Geotab          106 non-null    float64
 11  PERCENT % DIFFERENCE ACTUAL TO EPA  106 non-null    float64
 12  ESTIMATED FUEL COSTS PER GALLON     106 non-null    object
 13  FUEL COSTS PER MILE                 106 non-null    object
dtypes: float64(4), int64(4), object(6)
memory usage: 11.7+ KB

In [17]:
df.describe()

,YEAR,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA
count,106.000000,106.000000,106.000000,1.060000e+02,106.000000,106.000000,106.000000,106.000000
mean,2013.698113,23.254717,38.320755,1.742588e+05,8470.372642,6903.022358,19.883491,-0.166321
std,3.165799,11.495806,51.139128,2.837817e+05,9212.284006,7641.761732,12.329095,0.226229
min,2008.000000,9.000000,1.000000,4.130000e+02,65.000000,31.770000,5.350000,-0.670000
25%,2011.000000,15.000000,10.000000,3.217475e+04,1765.750000,1412.797500,10.545000,-0.317500
50%,2014.000000,19.000000,20.500000,8.400450e+04,5365.500000,4511.125000,14.930000,-0.160000
75%,2016.000000,28.000000,45.750000,1.800435e+05,11911.500000,9723.207500,26.090000,-0.040000
max,2019.000000,55.000000,327.000000,2.144639e+06,44874.000000,44679.980000,54.580000,0.730000

In [25]:
df5 = df[['Hybrid/Non-Hybrid', 'ESTIMATED FUEL COSTS PER GALLON']]
df5

    Hybrid/Non-Hybrid ESTIMATED FUEL COSTS PER GALLON
0          Non-Hybrid                      $   552.50
1          Non-Hybrid                    $   4,427.50
2          Non-Hybrid                      $   162.50
3          Non-Hybrid                    $   1,982.50
4          Non-Hybrid                    $   4,532.50
..                ...                             ...
101        Non-Hybrid                    $   2,212.50
102        Non-Hybrid                   $   13,547.50
103        Non-Hybrid                   $   13,622.50
104        Non-Hybrid                      $   740.00
105        Non-Hybrid                    $   5,827.50

[106 rows x 2 columns]

In [28]:
veichle = df5['Hybrid/Non-Hybrid']=='Non-Hybrid'

In [30]:
veichle.sum()

72

In [51]:
df6 = df5[veichle]

In [52]:
df6

    Hybrid/Non-Hybrid ESTIMATED FUEL COSTS PER GALLON
0          Non-Hybrid                      $   552.50
1          Non-Hybrid                    $   4,427.50
2          Non-Hybrid                      $   162.50
3          Non-Hybrid                    $   1,982.50
4          Non-Hybrid                    $   4,532.50
..                ...                             ...
101        Non-Hybrid                    $   2,212.50
102        Non-Hybrid                   $   13,547.50
103        Non-Hybrid                   $   13,622.50
104        Non-Hybrid                      $   740.00
105        Non-Hybrid                    $   5,827.50

[72 rows x 2 columns]

In [33]:
hybrid = df5['Hybrid/Non-Hybrid']!='Non-Hybrid'

In [34]:
df7 =df5[hybrid]

In [37]:
df7.describe()

       Hybrid/Non-Hybrid ESTIMATED FUEL COSTS PER GALLON
count                 34                              34
unique                 1                              34
top               Hybrid                    $   4,167.50
freq                  34                               1

In [38]:
df7.sum()

Hybrid/Non-Hybrid                  HybridHybridHybridHybridHybridHybridHybridHybr...
ESTIMATED FUEL COSTS PER GALLON    $   4,167.50$   63,632.50$   6,975.00$   21,82...
dtype: object

In [53]:
df6= df6['ESTIMATED FUEL COSTS PER GALLON'].str.replace('$', '')

<ipython-input-53-3973cf7a1962>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df6= df6['ESTIMATED FUEL COSTS PER GALLON'].str.replace('$', '')

In [54]:
df6

0            552.50
1          4,427.50
2            162.50
3          1,982.50
4          4,532.50
           ...
101        2,212.50
102       13,547.50
103       13,622.50
104          740.00
105        5,827.50
Name: ESTIMATED FUEL COSTS PER GALLON, Length: 72, dtype: object

In [55]:
df6= df6['ESTIMATED FUEL COSTS PER GALLON'].str.replace('$', '').astype(float)

KeyError: ignored